html, body {
    height: 100%;
}
body {
    min-height: 100%;
    background: linear-gradient(169deg, #69edff, #69a5ff, #4e60fc, #6b4efc, #8e4efc);
}
.header h1 {
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: left;
}
.new-chat-btn {
    color: black;
    background-color: #ffc8c8;
    height: 30px;
    width: 150px;
    border-radius: 40px;
}
.note {
    width: 200px;
    height: 169px;
    background-color: rgb(199, 158, 236);
    border-radius: 5%;
    border: solid 4px black;
    position: absolute;
}
.toolbar {
    background-color: cornflowerblue;
    border-radius: 10px;
    text-align: right;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: larger;
}
.editable {
    overflow-y: scroll;
}